#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.good-button,
.bad-button,
.neutral-button {
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 15rem;
}

.bad-button {
  background-color: var(--danger);
}

.neutral-button {
  background-color: var(--neutral);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
